@{
    ViewData["Title"] = "Contato";


}
<h1 class="display-4 text-center">Entre em Contato</h1>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form action="">
            <div class="form-group">
                <label for="" class="control-label">Seu Nome</label>
                <input for="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="" class="control-label">E-mail</label>
                <input for="" type="email" class="form-control" placeholder="example@gmail.com" required/>
            </div>
            <div class="form-group">
                <label name="cpf" class="control-label">CPF</label>
                <input for="cpf" type="text" class="form-control" placeholder="xxx.xxx.xxx-xx" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required/>
            </div>
            <div class="form-group">
                <label for="" class="control-label"></label>
                <textarea for="" class="form-control" rows="3" placeholder="Deixe seu comentário..."></textarea>
            </div>
            <div class="form-group">
                <input type="button" value="Enviar" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>




